.navbar {
	background-color: #428bca;
    border: none;
    min-height: 100px;
}

.navbar-nav {
	float: right;
	font-size: 1.5em;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	line-height: 110px;
	padding: 0 50px;
}

.navbar-inverse .navbar-nav > li > a:hover { color: #01579B; }

.navbar-inverse .navbar-nav:last-child a { padding-right: 0px; }

.navbar-inverse .navbar-brand { color: white; }

.navbar-fixed-top { position: absolute; }
.navbar-brand>img {
    display: inline-block; 
}
.logo-img {
	height: 100px;
    width: 100px;
}

.navbar-brand {
	font-family: "Lucida Console";
	font-size: 40px;
	padding: 5px;
}

.navbar-brand:hover { color: white; }


body {
	background-color: white;
	min-height: 100vh;
	min-width: 769px;
	padding-bottom: 170px;
	padding-top: 50px;
	padding-top: 110px;
	position: relative;
}

.footer {
	background-color: #428bca;
	bottom: 0;
	color: white;
	left: 0;
	min-height: 160px;
	padding: 10px;
	position: absolute;
	right: 0;
}

	.footer a {
		color: #0D47A1;
	}
.footer-item {
	background-color: #3984c4;
	margin: 0px;
	padding: 15px 40px 5px 15px;
	width: 40%;
}

.footer-item-header {
	font-size: 1.5em;
	text-transform: uppercase;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.myContainer {
	margin: 0 auto;
	position: relative;
}

@media (min-width: 768px) {
	.myContainer { max-width: 750px; }

    .body-content { padding-bottom: 100px; }
}

@media (min-width: 992px) {
	.myContainer { max-width: 970px; }

    .body-content { padding-bottom: 80px; }
}

@media (min-width: 1200px) {
	.myContainer { max-width: 1170px; }

    .body-content { padding-bottom: 70px; }
}

.dl-horizontal dt { white-space: normal; }

select,
textarea { max-width: 280px; }

.body-content {
	background-color: #E3F2FD;
	border-radius: 0 0 10px 10px;
	min-height: 490px;
	padding-left: 0;
	padding-right: 0;
	/*padding-bottom: 200px;*/
}

.with50 { width: 50%; }

.with80 { width: 80%; }

.page-title {
	font-family: "Lucida Console";
	font-size: 3em;
	padding-top: 10px;
}

.center-container {
	float: none;
	margin: 0 auto;
}

.text-color-grey {
	color: #455A64;
	font-family: 'Roboto';
}