@model IEnumerable<WeatherApp.Models.City>
@{
	ViewBag.Title = "Index";
}

<div class="myContainer">
	@using (Html.BeginForm("Add", "Cities"))
	{
		<div class="form-group cities-form">
			<div class="page-title">Cities</div>
			@Html.TextBox("name", null, new { @class = "form-control city-input-name", placeholder = "City name", required = "required" })
			<input type="submit" value="Add" class="btn btn-primary" />
		</div>
		
		<div class="default-cities-container">
			@foreach (var city in Model)
			{
				<div class="city-item">
					<div class="city-item-title">
						@city.Name
					</div>
					<a href="@Url.Action("Delete", "Cities", new {id = @city.Id})">
						<div class="city-item-delete"></div>
					</a>
				</div>
			}
		</div>
	}
</div>